---
title: books reviews
layout: default
tags: bookreviews
permalink: /reviews/
---

{% assign reviews_count = site.reviews | size %}

<h1>Book Reviews 📚</h1>

<div class="home">
  {% if reviews_count > 0 %}
  <div class="posts">
    {% for post in site.reviews reversed %}
    <div class="post py3">
      <p class="post-meta">{{ post.date | date: site.date_format }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"
        ><h3 class="h2 post-title">{{ post.title }}</h3></a
      >
      <p class="post-summary">{{ post.content | truncatewords: 70, "..." }}</p>
    </div>
    {% endfor %}
  </div>
  {% include pagination.html %} {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
