<div class="py2 post-footer">
  <p>
    Thanks for reading. Did I make a mistake? Please consider
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/thundergolfer/thundergolfer.github.io/edit/master/collections/{{ page.path }}"
      >sending a pull request.</a
    >
  </p>
  <p>
    Follow me on
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/thundergolfer"
      >Github</a
    >
    or
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/jonobelotti_IO"
      >Twitter</a
    >.
  </p>
</div>
