nav ul {
  padding-left: 0;
  width: 100%;
  margin: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

ul.nav {
  background-color: #3D99CE;
  text-align: center;
}

#main-menu li {
  display: inline-block;
  padding: 10px 20px;
}

#main-menu li > a {
  text-decoration: none;
}

nav li {
  list-style: none;
  margin: 4vh auto;
}

// Reduce vertical spacing on mobile.
@media only screen and (max-width: 600px) {
  nav li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

nav .nav-underline:before {
  bottom: 0;
  width: 100%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.medium-link h2:before,
nav .nav-underline:before,
nav a:after {
  content: "";
  border-bottom: 2px solid $header-fg;
}

nav .nav-underline:before,
nav a:after {
  position: absolute;
  left: 0;
  transition: 0.4s;
}

nav a {
  position: relative;
}

nav .nav-underline:hover:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

nav a:hover:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
}

nav a:after {
  bottom: 0.5vh;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.current {
  font-weight: bold !important;
}
