
.posts {
  margin: 0;
}

.posts .post {
  background-color: #f4f0e5;
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-family: var(--font-new-york);
  font-weight: 600;
  color: $black;
}

.post-header h1 {
  font-family: var(--font-new-york);
  font-weight: 700;
}

.post-content {
  font-weight: 400;
}

.post-footer {
  @extend .italic;

  margin-top: 2rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 150px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
}

.post-meta-popular-tag {
  margin-left: 0.5em;
  color: white;
  background-color: $blue;
  font-family: $monospace-font-family;
  font-size: 0.75em;
  text-align: center;
  text-transform: lowercase;
  padding: 0.2em 0.4em;
  vertical-align: middle;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.relatedPosts h2 {
  font-family: var(--font-new-york);
}
