
.posts {
  margin: 0;
}

.posts .post {
  background-color: white;
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #111;
}

.post-content {
  font-weight: 300;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 150px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
}

.post-meta-popular-tag {
  margin-left: 0.5em;
  color: white;
  background-color: #aedbf9;
  text-align: center;
  padding: 0.25em;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
