---
layout: default
tags: blog
---

{% assign posts_count = site.posts | size %}

<h1>Blog</h1>

<p style="color: #555">✍🏼 I've been writing here since 2016, mostly about software engineering. In total, I've written {{ posts_count }} articles on this site.</p>

<hr>

<div class="button-group filter-button-group justify-content-center">
    <div class="circle-button">
        <div class="foo">
            <a class="btn" data-filter=".reading">Software</a>
        </div>
    </div>
    <div class="circle-button">
        <a class="btn" data-filter=".bazel">Life</a>
    </div>
    <div class="circle-button">
        <a class="btn" data-filter="*">All</a>
    </div>
</div>

<style>
.button-group {
    display: flex;
}

.filter-button {
    margin-bottom: 5%;
    border: solid 1px #999;
    border-radius: 5px;
    padding: 2%;
}

.filter-button a {
    color: blueviolet;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.top-circle {
    display: inline-flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
}

.active {
    color: green;
}
</style>

<!--<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>-->
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

<div class="home">
    {% if posts_count > 0 %}
        <div class="posts">
            {% for post in paginator.posts %}
            <div class="post post-item py3 {{ post.categories | join: ' ' }}">
                <p class="post-meta">{{ post.date | date: site.date_format }}</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
                <p class="post-summary">
                    {% if post.summary %}
                    {{ post.summary }}
                    {% else %}
                    {{ post.excerpt }}
                    {% endif %}
                </p>
            </div>
            {% endfor %}
        </div>
        {% include pagination.html %}
    {% else %}
        <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
    {% endif %}
</div>

<script>
    var elem = document.querySelector('.posts');
    const iso = new Isotope( elem, {
        itemSelector: '.post-item',
        layoutMode: 'fitRows'
    });
    $('.filter-button-group').on( 'click', 'div', function() {
        var filterValue = $(this).attr('data-filter');
        console.log("clicked filter-button-group");
        iso.arrange({ filter: filterValue });
        console.log(grid);
        console.log(filterValue);
    });
    $('.button-group a.btn').on('click', function(){
        $('.button-group a.btn').removeClass('active');
        console.log("clicked button-group");
        $(this).addClass('active');
    });
</script>
